<table class="profile">
  <tr>
    <td class="main">
      <h2><%= @user.name %></h2>
      <%= render 'shared/feed' %>
    </td>
    <td class="sidebar round">
      <span><strong>Name</strong> <%= @user.name %></span><br/>
      <span><strong>URL</strong> <%= link_to user_path(@user), @user %></span><br/>
      <span><strong>Microposts</strong> <%= @user.microposts.count %></span>
    </td>
  </tr>
</table>
