<table summary="Information about following/followers">
  <tr>
    <td class="main">
      <h2><%= @title %></h2>
      <% unless @users.empty? %>
        <table class="users">
        	<tbody>
          <%= render @users %>
          </tbody>
        </table>
        <%= paginate @users %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Microposts</strong> <%= @user.microposts.count %>
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>